PORT=5000

DATABASE_URL=

JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=

ACCESS_TOKEN_EXPIRES=15m
REFRESH_TOKEN_EXPIRES=7d

MTN_MOMO_BASE_URL=https://sandbox.momodeveloper.mtn.com
MTN_MOMO_TARGET_ENV=sandbox
MTN_MOMO_CURRENCY=EUR
MTN_MOMO_COLLECTION_PRIMARY_KEY=
MTN_MOMO_API_USER=
MTN_MOMO_API_KEY=
MTN_MOMO_CALLBACK_URL=
MTN_MOMO_STATUS_POLL_ATTEMPTS=8
MTN_MOMO_STATUS_POLL_INTERVAL_MS=2500
